[Desktop Action new-empty-window]
Exec=code --new-window
Icon=vscode
Name=New Empty Window

[Desktop Entry]
Actions=new-empty-window;
Categories=Utility;TextEditor;Development;IDE;
Comment=Code Editing. Redefined.
Exec=code %u
Icon=vscode
MimeType=text/plain;inode/directory;text/javascript;text/html;application/xml;application/json;text/x-python;x-scheme-handler/vscode;
Name=Visual Studio Code
NoDisplay=false
StartupNotify=true
StartupWMClass=Code
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=true
