[submodule "video/vapoursynth-mvtools"]
	path = video/vapoursynth-mvtools
	url = https://github.com/dubhater/vapoursynth-mvtools.git
[submodule "video/thumbfast"]
	path = video/thumbfast
	url = https://github.com/po5/thumbfast.git
