[Desktop Entry]
Name=Google Antigravity
Comment=Build the new way
GenericName=Development Environment
Exec=antigravity %F
Icon=antigravity
Type=Application
StartupNotify=false
StartupWMClass=Antigravity
Categories=Development;IDE;
Keywords=antigravity;google;
