[Desktop Entry]
Name=Mpv Opener
GenericName[zh_TW]=多媒體播放器啟動器
Exec=toolbox run -c video mpv-opener %u
Type=Application
MimeType=x-scheme-handler/mpv;
Icon=io.mpv.Mpv
Categories=AudioVideo;Audio;Video;Player;TV;
StartupNotify=true
