[Desktop Action new-empty-window]
Exec=toolbox run code --ozone-platform=wayland --no-sandbox --new-window
Icon=com.visualstudio.code
Name=New Empty Window

[Desktop Entry]
Actions=new-empty-window;
Categories=Utility;TextEditor;Development;IDE;
Comment=Code Editing. Redefined.
Exec=toolbox run code --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime %F
Icon=com.visualstudio.code
MimeType=text/plain;inode/directory;text/x-python;application/javascript;application/json;application/xml;text/html;
Name=Visual Studio Code
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=Code
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
