[Desktop Entry]
Name=Sourcegit
Comment=Open-source & Free Git GUI Client
Exec=sourcegit %u
Icon=sourcegit
Terminal=false
Type=Application
Categories=Development;RevisionControl;Git;
MimeType=inode/directory;
