name: Reusable container workflow

description: Reusable container workflow.

inputs:
  QUAY_USERNAME:
    description: 'Quay username'
    required: true
  QUAY_TOKEN:
    description: 'Quay token'
    required: true
  IMAGE_NAME:
    description: 'Image name'
    required: true
  CONTAINERFILE:
    description: 'Containerfile path'
    required: true
  BASE_IMAGE:
    description: 'Base image'
    required: false
    default: 'registry.fedoraproject.org/fedora-toolbox:42'

runs:
  using: composite
  steps:
    # Skip installing package docs {makes the man-db trigger much faster) 
    # https://github.com/actions/runner-images/issues/10977#issuecomment-2810713336
    # https://github.com/jlumbroso/free-disk-space/issues/40
    - name: Disable man-db to make package install and removal faster
      shell: bash
      run: |
        sudo tee /etc/dpkg/dpkg.cfg.d/01_nodoc > /dev/null << 'EOF'
        path-exclude /usr/share/doc/*
        path-exclude /usr/share/man/*
        path-exclude /usr/share/info/*
        EOF

    # We require additional space due to the large size of our image.
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: true
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Remove ,z from ${{ inputs.CONTAINERFILE }}
      run: sed -i 's/,z//g' ${{ inputs.CONTAINERFILE }}
      shell: bash

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # You may need to manage write and read access of GitHub Actions for repositories in the container settings.
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ github.token }}

    - name: Login to Quay Container Registry
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ inputs.QUAY_USERNAME }}
        password: ${{ inputs.QUAY_TOKEN }}

    - name: Container meta:${{ github.ref_name }}
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/${{ github.repository_owner }}/${{ inputs.IMAGE_NAME }},quay.io/${{ github.repository_owner }}/${{ inputs.IMAGE_NAME }}
        tags: |
          ${{ github.ref_name }}
          latest

    - name: Build and push toolbx
      id: build_push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ${{ inputs.CONTAINERFILE }}
        push: true
        target: final
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        build-args: |
          VERSION=${{ github.ref_name }}
          RELEASE=${{ github.run_number }}
          BASE_IMAGE=${{ inputs.BASE_IMAGE }}
        platforms: linux/amd64
        # Cache to registry instead of gha to avoid the capacity limit.
        cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/${{ inputs.IMAGE_NAME }}:cache
        cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/${{ inputs.IMAGE_NAME }}:cache,mode=max
        sbom: true
        provenance: true

    - name: Add attestations for GitHub Container Registry
      uses: actions/attest-build-provenance@v2
      with:
        subject-name: ghcr.io/${{ github.repository_owner }}/${{ inputs.IMAGE_NAME }}
        subject-digest: ${{ steps.build_push.outputs.digest }}

    - name: Add attestations for Quay Container Registry
      uses: actions/attest-build-provenance@v2
      with:
        subject-name: quay.io/${{ github.repository_owner }}/${{ inputs.IMAGE_NAME }}
        subject-digest: ${{ steps.build_push.outputs.digest }}
