[Desktop Entry]
Type=Application
Name=RustRover
Icon=rustrover
Exec=rustrover %f
Comment=Focus on what matters
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rustrover
StartupNotify=true
